html {
  height: 100%;
  background-color: var(--dark-color);

  --dark-color: rgb(55 54 71);
  --light-color: rgb(239 239 239);
  --num-rows: 5;
  --num-cols: 5;
  --grid-unit: calc(90vw / var(--num-cols));
  --default-font-size: calc(var(--grid-unit) * 0.4);
}

body {
  margin: 0;
}

.App {
  background-color: var(--dark-color);
  color: var(--light-color);
  font-family: sans-serif;
  font-size: var(--default-font-size);
  display: grid;
  height: 90vh; /* fallback if svh isn't handled */
  height: 98svh;
  overflow: scroll;
  display: grid;
  grid-template-areas:
    "controls"
    "info"
    "bonuses"
    "progress"
    "board";
  grid-template-rows:
    auto
    1fr
    auto
    auto
    auto;
}

h1 {
  all: unset;
  font-size: calc(var(--default-font-size) * 1.2);
  display: block;
  font-weight: bold;
}

small {
  font-size: calc(var(--default-font-size) * 0.5);
}

button {
  all: unset;
  text-decoration: none;
  text-align: center;
  appearance: none;
  background-color: var(--light-color);
  border: 1px solid var(--light-color);
  border-radius: 5px;
  color: black;
  margin: 10px;
  padding: 1px 6px;
}

.info {
  white-space: pre-line;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: scroll;
  justify-items: center;
  justify-content: space-evenly;
  align-items: center;
  font-size: calc(var(--default-font-size) * 0.75);
  padding: 5vmin;
}

.infoText {
  margin: 2vmax;
}

.info a {
  color: rgb(0 162 255);
}

/* Control bar */

#controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-area: controls;
  width: 100%;
  border-bottom: 2px solid var(--light-color);
  height: fit-content;
}

#controls > button {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  width: min(var(--default-font-size), 10%);
  height: var(--default-font-size);
  background-color: transparent;
  padding: 1px 6px;
}

#newGameButton {
  background-image: url("./images/new_game.svg");
}

#infoButton {
  background-image: url("./images/info.svg");
}

#heartButton {
  background-image: url("./images/heart.svg");
}

#installButton {
  background-image: url("./images/install.svg");
}

#shareButton {
  background-image: url("./images/share.svg");
}

#bonuses {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-area: bonuses;
  width: 100%;
  height: fit-content;
}

#bonuses > button {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  width: min(var(--default-font-size), 10%);
  height: var(--default-font-size);
  background-color: transparent;
  padding: 1px 6px;
}

#shuffleBonusButton {
  background-image: url("./images/shuffle.svg");
  position: relative;
}

#shuffleBonusButtonActive {
  background-image: url("./images/shuffle.svg"),
    radial-gradient(circle, rgb(239 239 239 / 60%) 30%, rgb(55 54 71));
  position: relative;
}

#removeBonusButton {
  background-image: url("./images/remove.svg");
  position: relative;
}

#removeBonusButtonActive {
  background-image: url("./images/remove.svg"),
    radial-gradient(circle, rgb(239 239 239 / 60%) 30%, rgb(55 54 71));
  position: relative;
}

#swapBonusButton {
  background-image: url("./images/swap.svg");
  position: relative;
}

#swapBonusButtonActive {
  background-image: url("./images/swap.svg"),
    radial-gradient(circle, rgb(239 239 239 / 60%) 30%, rgb(55 54 71));
  position: relative;
}

button:disabled {
  opacity: 0.5;
}

.bonusCounter {
  position: absolute;
  top: -10px;
  right: -20px;
  font-size: calc(0.5 * var(--default-font-size));
  font-weight: bold;
  color: var(--dark-color);
  background-color: var(--light-color);
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: calc(1 * var(--default-font-size));
  min-height: calc(1 * var(--default-font-size));
  animation: changeBonusCount 0.5s ease-in-out;
}

@keyframes changeBonusCount {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

/* Rules and heart */

.info {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: scroll;
  justify-items: center;
  justify-content: space-evenly;
  align-items: center;
  font-size: calc(var(--default-font-size) * 0.75);
}

.infoText {
  margin: 2vmax;
}

.info a {
  color: rgb(0 162 255);
}

/* game */

#progress {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-area: progress;
  border-radius: 15px;
  width: 90%;
  height: var(--default-font-size);
  align-self: center;
  margin: 5%;
}

#currentWord {
  grid-area: info;
  text-align: center;
  white-space: pre;
  align-self: center;
}

#bonusText {
  grid-area: info;
  text-align: center;
  white-space: pre-wrap;
  align-self: center;
  font-size: calc(0.75 * var(--default-font-size));
}

#wordResult {
  grid-area: info;
  background-color: var(--dark-color);
  touch-action: none;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: pre-wrap;
  align-self: center;
}

.fadeOut {
  opacity: 0;
  pointer-events: none;
  animation-duration: 3s;
  animation-name: fadeout;
}

@keyframes fadeout {
  from {
    opacity: 0.9;
  }
}

#board {
  grid-area: board;
  display: grid;
  background-color: var(--dark-color);
  touch-action: none;
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(var(--num-cols), var(--grid-unit));
  grid-template-rows: repeat(var(--num-rows), var(--grid-unit));
}

.letter {
  touch-action: none;
  background-color: var(--dark-color);
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 60%;
  border-radius: 50%;
  will-change: transform;
}

.animateFall {
  animation: fallDown 2s ease-in-out;
  will-change: transform, opacity;
  animation-fill-mode: backwards;
  transform: translate3d(0,0,0);
}

.letter.selected {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 30%,
    rgb(255, 255, 255)
  );
}

@keyframes fallDown {
  0% {
    transform: translateY(var(--startY));
    opacity: var(--startOpacity);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Large screen */
@media (min-height: 600px) and (min-width: 600px) {
  html {
    height: 100%;
    --grid-unit: calc(40vmin / var(--num-cols));
  }

  .App {
    justify-content: center;
  }
}
